.rating-list {
  @extend .flex;
  width: 325px;
  margin: 0 auto 30px auto;
  padding: 10px 0;
  border-top: 1px dotted $light-grey;
  border-bottom: 1px dotted $light-grey;
}

.rating {
  @extend .flex;
  flex-direction: column;
  margin: 0 12px;
  height: 55px;
  height: 100%;
}

.rating-color {
  font-size: 3.5rem;
  line-height: 50%;
}
