.no-readings {
  position: relative;
  @extend .flex;
  color: $accent-color;
  font-size: 2.5rem;
  width: 250px;
  height: 60vh;
  text-align: center;
  margin: 0 auto;
}

.no-readings::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 70px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  margin-top: 200px;
}

.readings {
  @extend .flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 20px 0 100px 0;
  padding-bottom: 20px; //prevents shadow cutoff
}

.reading-list-item {
  position: relative;
  width: 85vw;
  max-width: 300px;
  padding: 15px 25px;
  border-radius: $radius;
  margin: 10px 0;
  overflow-x: auto;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25), -6px -6px 12px #fff;
  scrollbar-width: none;
}

.reading-list-item::-webkit-scrollbar {
  display: none;
}

.reading-container {
  @extend .flex;
  justify-content: space-between;
  font-size: 2.2rem;
  text-shadow: $text-shadow;
}

.pulse {
  position: relative;
}

.heart {
  position: absolute;
  left: -18px;
  width: 15px;
}

.date {
  color: $sm-text-color;
  font-size: 0.9rem;
  margin-top: 2px;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(90px);
  background-color: $accent-color;
  background-image: url(../img/trash-can.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
  height: 100%;
  width: 90px;
  border: none;
  cursor: pointer;
  transition: transform 200ms ease;
}

.delete-btn:hover,
.pulse:hover ~ .delete-btn {
  transform: translateX(0);
}

// makes delete button retract when not tab focused
.delete-btn:focus-within {
  transform: translateX(0);
}

.delete-slideaway {
  animation: slideaway 100ms ease 50ms forwards;
}

@keyframes slideaway {
  20% {
    transform: skew(-15deg);
  }
  40% {
    transform: skew(-15deg) translateX(0);
  }
  100% {
    transform: skew(-15deg) translateX(-200vw);
  }
}

@media screen and (max-width: 400px) {
  .delete-btn {
    width: 70px;
    background-size: 35%;
  }

  .no-readings {
    height: 50vh;
  }

  .no-readings::after {
    margin-top: 100px;
  }
}
